Repository hmcts/hmc-operational-reports-runner, pull requests merged in 2023-01, with the labels that each got.

#30 HMAN-389 bug fix to handle null for endDate and also make configDays configurable
  charts/hmc-operational-reports-runner/Chart.yaml
  charts/hmc-operational-reports-runner/values.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/helper/HearingActualsHelper.java
  src/main/resources/application.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-operational-reports-runner-pr-30

#55 fix master build
  charts/hmc-operational-reports-runner/Chart.yaml
  charts/hmc-operational-reports-runner/values.yaml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-operational-reports-runner-pr-55

#50 HMAN-494 Add suppressCves task
  .github/workflows/dependency-check.yml
  Jenkinsfile_CNP
  build.gradle
  charts/hmc-operational-reports-runner/values.preview.template.yaml
  config/owasp/suppressions.xml
  gradle/suppress.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-operational-reports-runner-pr-50
